* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Comfortaa", sans-serif;
    background-color:#f8f9fa;
  }



@import'./products/_products.scss';
@import './shoppingCart/shoppingCart';