* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body.body{
    font-family: 'Montserrat', sans-serif;
    background-color:#D6B4B2 ;
    a{
      text-decoration: none;
    } 
  }
    
  
@import './variables/colors';
@import './sections/buttons';
@import './sections/discount';
@import './sections/navbar';
@import './sections/footer';
@import './sections/index';
@import './products/products';
@import './shoppingCart/shoppingCart';