* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body.body{
    font-family: 'Montserrat', sans-serif;
    background-image:url("../images/bgmarblee.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    a{
      text-decoration: none;
    } 
  }
  @media (max-width: 768px){
    body.body{
      background-size: cover;
    }
  }
 .container{
  background-color: #DDDD;
 }
    
  
@import './variables/colors';
@import './sections/buttons';
@import './sections/discount';
@import './sections/navbar';
@import './sections/footer';
@import './sections/index';
@import './products/products';
@import './shoppingCart/shoppingCart';
@import './sections/questions';
@import './sections/contact';
@import './sections/order';