
.footer2{
    background-color: $secondary;
    width:100%;
    .row{align-items: center;}
    a{
        color:$primary;
        font-size: 1rem;
        font-weight: bold;
        padding: 10px;
        &:hover{
            color:$dark;
        }
    }
    h5{
        color: $primary;
    }
    input.form-control:focus {

        outline:none !important;
    
        outline-width: 0 !important;
    
        box-shadow: none;
    
        -moz-box-shadow: none;
    
        -webkit-box-shadow: none;
        
        border:none;
    
    }

    button{
        margin-bottom: 1rem;
    }
}





      
    
  