footer{
    background-color: $secondary;
    width:100%;
    text-align: center;
    justify-content: center;
    
    a{
        color:$primary;
        font-size: 1rem;
        font-weight: bold;
        padding: 10px;
        &:hover{
            color:$dark;
        }
    }

p{
    color:$dark;
    text-align: center;
}
form{
.alig{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:$primary;
    font-weight: bold;
    font-size: 1rem;
   
    ion-icon{
        font-size: 40px;

    }
    
}
input.form-control:focus {

    outline:none !important;

    outline-width: 0 !important;

    box-shadow: none;

    -moz-box-shadow: none;

    -webkit-box-shadow: none;
    
    border:none;

}
}}

@media (max-width: 768px) {
    .col-2{
      padding: 0.5rem;
    }

      
    }
  