.register{
display:grid;

color:$primary;

legend{
    text-align: center;
    font-weight: bold;
    padding-top:2rem;
}
button{
    text-align: center;
    padding:0rem;
    margin-top:2rem;
    margin-bottom: 2rem;
    max-width: 10rem;
}
}