$white: #fff;
$white_2:#FFFFFC;
$dark:#352723;
$dark_2:#001011;
$grey:#3B4449;
$grey_2:#757780;
$grey_3:#BABBBE;
$grey_4:#DDDDDD;
$grey_5:#EEEEED;
$primary:#C24660;
$secondary:#D6B4B2;
$bordeaux:#7E2401;
$brown:#4C210E;
$lightbrown:#C8876B;
$lightbrown-:#E4A26E;
