.sidebar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    position: absolute;
    box-shadow: 10px 10px 15px rgba(67, 224, 217, 0.5);
    flex-direction: column;
    background-color: white;
    border:1px solid grey;
    z-index: 2;
    width: 30%;
    visibility: hidden;
    left: 70%;
    
}

.active{
    visibility: visible;
}
.shoppingBox{
    width: 20rem;
    img{
        width: 10rem;
    }
}


