.sidebar{
    display: grid;
    justify-content: center;
    
justify-items: center;
    position: absolute;
    box-shadow: 10px 10px 15px rgba(67, 224, 217, 0.5);
    flex-direction: column;
    background-color: white;
    border:1px solid grey;
    z-index: 2;
    width: 30%;
    visibility: hidden;
    left: 70%;
    padding-bottom: 1rem;
    
}

.active{
    visibility: visible;


.shopping-box{
 color:$primary;
 text-align: center;
    h5 {
        font-size: 1rem;
    }
.amnt{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
}
button{
    margin-bottom: 1rem;
}
}}

.empty{
    grid-template-columns: repeat(1,1fr);
    
    h2{
        color: $primary;
        font-weight: bold;
        text-align: center;
        
        font-size: 1rem;
    }
}

